## reverseMid

sort|status|time
-|-|-
heapsort|ok|2.9990202
insertionsort|timeout|15
jssort|ok|1.1828133
mergesort_bottom-up|ok|0.6869394
mergesort_top-down|ok|1.1006644
quicksort|ok|2.8845015
quicksort3|ok|4.6679316
## sortedMid

sort|status|time
-|-|-
heapsort|ok|2.4892835
insertionsort|ok|0.2488897
jssort|ok|1.2957169
mergesort_bottom-up|ok|0.9985943
mergesort_top-down|ok|1.6981586
quicksort|ok|2.3987077
quicksort3|ok|0.7964316
## fewRandomMid

sort|status|time
-|-|-
heapsort|ok|2.6578198
insertionsort|timeout|15
jssort|ok|2.7444941
mergesort_bottom-up|ok|1.0404772
mergesort_top-down|ok|1.4296019
quicksort|ok|2.8311893
quicksort3|ok|0.976728
## spreadRandomMid

sort|status|time
-|-|-
heapsort|ok|4.0403955
insertionsort|timeout|15
jssort|ok|3.3166905
mergesort_bottom-up|ok|2.2566826
mergesort_top-down|ok|2.5611964
quicksort|ok|3.3056215
quicksort3|timeout|15
## randomTiny

sort|status|time
-|-|-
heapsort|ok|1.8767239
insertionsort|ok|0.6659831
jssort|ok|1.0640828
mergesort_bottom-up|ok|0.7705366
mergesort_top-down|ok|1.0860481
quicksort|ok|1.6492256
quicksort3|ok|0.8411483
## randomSmall

sort|status|time
-|-|-
heapsort|ok|2.2403658
insertionsort|ok|2.9919368
jssort|ok|1.4693718
mergesort_bottom-up|ok|0.8909092
mergesort_top-down|ok|1.267279
quicksort|ok|2.0348812
quicksort3|ok|0.7884239
## randomMid

sort|status|time
-|-|-
heapsort|ok|2.8811644
insertionsort|timeout|15
jssort|ok|1.8263835
mergesort_bottom-up|ok|1.1828658
mergesort_top-down|ok|1.4990744
quicksort|ok|3.584605
quicksort3|ok|1.1825193
## randomBig

sort|status|time
-|-|-
heapsort|ok|5.1397634
insertionsort|timeout|15
jssort|ok|4.5786726
mergesort_bottom-up|ok|2.8545937
mergesort_top-down|ok|2.6589204
quicksort|ok|4.790792
quicksort3|ok|2.2220777
## randomGiant

sort|status|time
-|-|-
heapsort|ok|5.4469185
insertionsort|timeout|15
jssort|ok|4.2589446
mergesort_bottom-up|ok|3.1544704
mergesort_top-down|ok|3.2496781
quicksort|ok|3.2497645
quicksort3|ok|2.3537773