## reverseMid

sort|status|time
-|-|-
heapsort|ok|2.8203913
insertionsort|timeout|15
jssort|ok|1.0151103
mergesort_bottom-up|ok|0.8054144
mergesort_top-down|ok|1.1385711
quicksort|ok|3.0005458
quicksort3|ok|5.695293
## sortedMid

sort|status|time
-|-|-
heapsort|ok|2.993505
insertionsort|ok|0.2409029
jssort|ok|0.3601552
mergesort_bottom-up|ok|0.8768255
mergesort_top-down|ok|1.1841672
quicksort|ok|2.4844068
quicksort3|ok|0.9126634
## fewRandomMid

sort|status|time
-|-|-
heapsort|ok|3.1499088
insertionsort|timeout|15
jssort|ok|1.7302279
mergesort_bottom-up|ok|1.1935425
mergesort_top-down|ok|1.5069125
quicksort|ok|2.5749664
quicksort3|ok|1.088919
## spreadRandomMid

sort|status|time
-|-|-
heapsort|ok|3.6595509
insertionsort|timeout|15
jssort|ok|2.3300411
mergesort_bottom-up|ok|1.8064061
mergesort_top-down|ok|2.1907745
quicksort|ok|2.5553331
quicksort3|ok|1.6451446
## randomTiny

sort|status|time
-|-|-
heapsort|ok|1.7129363
insertionsort|ok|0.7229513
jssort|ok|1.0115734
mergesort_bottom-up|ok|0.787145
mergesort_top-down|ok|1.1221801
quicksort|ok|1.5888961
quicksort3|ok|0.6648243
## randomSmall

sort|status|time
-|-|-
heapsort|ok|2.4666704
insertionsort|ok|4.077729
jssort|ok|1.4266606
mergesort_bottom-up|ok|0.9692387
mergesort_top-down|ok|1.3371792
quicksort|ok|1.783113
quicksort3|ok|0.8588335
## randomMid

sort|status|time
-|-|-
heapsort|ok|3.1554765
insertionsort|timeout|15
jssort|ok|1.8144891
mergesort_bottom-up|ok|1.2613186
mergesort_top-down|ok|1.5934813
quicksort|ok|2.0717721
quicksort3|ok|1.1423669
## randomBig

sort|status|time
-|-|-
heapsort|ok|4.3328079
insertionsort|timeout|15
jssort|ok|2.7098862
mergesort_bottom-up|ok|2.3499975
mergesort_top-down|ok|2.3714966
quicksort|ok|2.7655181
quicksort3|ok|1.7487026
## randomGiant

sort|status|time
-|-|-
heapsort|ok|5.2891083
insertionsort|timeout|15
jssort|ok|3.334053
mergesort_bottom-up|ok|2.6364257
mergesort_top-down|ok|2.7782642
quicksort|ok|3.0569697
quicksort3|ok|2.1764942